/* Extra small devices (phones, less than 768px) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

#input {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}

h1 {
  font-family: "Georgia", serif;
}

input[type=search], #search {
  font-size: 18px;
  border: 1px solid #c7c8ca;
  background-color: transparent;
}

input[type=search] {
  width: 80%;
  padding-left: 10px;
  margin: 20px 0;
  border-right: none;
}

#search {
  border-left: none;
  position: relative;
  right: 4px;
}

.btn {
  font-size: 16px;
}
