/* Extra small devices (phones, less than 768px) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

#input {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}

h1 {
  font-family: "Georgia", serif;
}

input[type=search], #search {
  font-size: 18px;
  border: 1px solid #c7c8ca;
  background-color: transparent;
}

input[type=search] {
  width: 80%;
  padding-left: 10px;
  margin: 20px 0;
  border-right: none;
}

#search {
  border-left: none;
  position: relative;
  right: 4px;
}

.btn {
  font-size: 16px;
  background-color: #f4f4f4;
  color: gray;
  border: 1px solid #f4f4f4;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: #f4f4f4;
  color: #000000;
  border: 1px solid #c7c8ca;
}

li {
  background-color: #f4f4f4;
  color: #000000;
  list-style-type: none;
  font-size: 18px;
  border-left: 10px solid #588E95;
  border-radius: 2px;
  padding: 10px;
  margin: 50px 0;
  line-height: 150%;
}

a:hover {
  text-decoration: none;
}

#output {
  width: 100%;
  margin: 0 auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#output {
  width: 80%;
}

li {
  margin: 50px;
}

} /* End small devices */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

} /* End medium devices */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

} /* End large devices */
