/* Extra small devices (phones, less than 768px) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

#input {
  margin: 0 auto;
  text-align: center;
  padding-top: 25%;
}

h1 {
  font-family: "Georgia", serif;
}

input[type=search], #search {
  font-size: 18px;
}
